
// Article block
.articles-section {
    background: $gray-100;
        .article {
            font-family: 'Open Sans', sans-serif;
            &-img {
                float: left;    
                width: 130px;
                height: 130px;
                @include border-radius(4px);
                margin-right: 32px; 
                position: relative;
                    img {                        
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        height: auto;
                        width: auto;
                    }                    
            &-content {
                h3{
                    font-size:$f-normal;
                    background: transparent; 
                    font-weight: bold;                                 
                }
                &-subtitle {
                    font-size:$f-small; 
                    font-style: italic;         
                }
                &-text {
                    color: $dark-gray;
                    font-size: $f-small;                    
                    line-height: 1.2;
                    letter-spacing: 0.09px;
                }        
            }
        }
    }
}
//articles tabs
.article-tabs {
    margin-top: 13px;
    padding-left: 0;
    li {
        font-size: $f-large;
        padding-right: 53px;
            &:hover {
                    a::after {
                        content:"";
                        background: $orange;
                        height: 4px;
                        width: 0%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        @include animation(anim ,0.3s, ease-in);                       
                        right: 0;
                    }   
                }
            a {
                text-decoration: none;
                padding-bottom: 4px;
                color: $black;
                font-weight: bold;
                position: relative;
            }   
        }
}

 
